"Plot/Analyse/r_social/caliopen/bin/centralities_graph_cdf.pdf"
"Plot/Analyse/r_social/caliopen/src/.RData"
"Plot/Analyse/r_social/doc/SN&H 2018/Day 2 - Data Collection, Data Cleaning, Ego Network Analysis/Network_Canvas_Duke2018_wVideo.pptx"
"Plot/Analyse/r_social/doc/SN&H 2018/Day 4 - Cross sectional and Difussion Models, IRB, Experiments/PeerInfDiffusion.pptx"
"Plot/sklearn/examples/applications/redirects_en.nt.bz2"

