[Desktop Entry]
Encoding=UTF-8
Name=Link to The Things Network Console
Type=Link
URL=https://console.thethingsnetwork.org/applications/add
Icon=text-html
Name[en_US]=TTN
