[Desktop Entry]
Encoding=UTF-8
Name=Link to riot-course-exercises/riot-lorawan/simple at master · aabadie/riot-course-exercises · GitHub
Type=Link
URL=https://github.com/aabadie/riot-course-exercises/tree/master/riot-lorawan/simple
Icon=text-html
