[Desktop Entry]
Encoding=UTF-8
Name=Link to LoRaWAN communication using RIOT and TheThingsNetwork • FIT/IoT-LAB
Type=Link
URL=https://www.iot-lab.info/tutorials/riot-ttn/
Icon=text-html
Name[en_US]=doc-LoraWan
