[Desktop Entry]
Encoding=UTF-8
Name=Link to yocto project - Recherche Google
Type=Link
URL=https://www.google.com/search?q=yocto+project&ie=utf-8&oe=utf-8&client=firefox-b-e
Icon=text-html
