[Desktop Entry]
Encoding=UTF-8
Name=Link to Tutorials • FIT/IoT-LAB
Type=Link
URL=https://www.iot-lab.info/tutorials/
Icon=text-html
Name[en_US]=doc-Tutorials
