[Desktop Entry]
Encoding=UTF-8
Name=Link to FIT/IoT-LAB • Very large scale open wireless sensor network testbed
Type=Link
URL=https://www.iot-lab.info/testbed/dashboard
Icon=text-html
Name[en_US]=iotlab
