[Desktop Entry]
Encoding=UTF-8
Name=Link to ResCom Summer School 2019 • FIT/IoT-LAB
Type=Link
URL=https://www.iot-lab.info/rescom2019/
Icon=text-html
