[Desktop Entry]
Encoding=UTF-8
Name=Link to Build low-cost LoRa IoT - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=YsKbJeeav_M
Icon=text-html
