[Desktop Entry]
Encoding=UTF-8
Name=Link to CLI Tools · iot-lab/iot-lab Wiki · GitHub
Type=Link
URL=https://github.com/iot-lab/iot-lab/wiki/CLI-Tools
Icon=text-html
Name[en_US]=CLI Tools
